In [1]:
import json
import re
import xml.etree.ElementTree as et
from xml.dom import minidom
import pandas as pd

In [7]:
with open("/Users/simon/Downloads/Telegram Desktop/ChatExport_2023-04-20 (1)/result.json") as f:
    txt = f.read()
    txtj = json.loads(txt)

In [8]:
# XML anlegen
corpus = et.Element("corpus")

# Listen fÃ¼r Dataframe anlegen
cols = ["id","date","from","reply_to","text"]
rows = []

for message in txtj["messages"]:
    
    #Reine Sytemmeldungen Ã¼bergehen
    if message["type"] != "message":
        continue
    
    #Metadaten auslesen
    msg_id = str(message["id"])
    msg_date = str(message["date"])
    msg_from = message["from"]
    if msg_from == None:
        msg_from = "nA"
    if "reply_to_message_id" in message:
        msg_reply = str(message["reply_to_message_id"])
    else:
        msg_reply = "nA"
    
    #XML Element anlegen und Metadaten als Attribute schreiben
    message_element = et.SubElement(corpus, "message", {"id":msg_id,"date":msg_date,"from":msg_from, "reply_to":msg_reply})
    
    #Nachrichtentext auslesen
    msg_content = message["text"]
    
    #Nachrichten ohne Text Ã¼bergehen
    if len(msg_content) == 0:
        continue
        
    #Falls die Nachrichten aus mehreren TextblÃ¶cken bestehen oder Links enthalten,
    #werden sie als Liste gefasst. Diese wird zu einem String ohne ZeilenumbrÃ¼che zusammengefÃ¼gt.
    if type(msg_content) == list:
        txt_content = ""
        for part in msg_content:
            if type(part) == str:
                txt_content += part                
    elif type(msg_content) == str:
        txt_content = msg_content
                        
    msg_content = txt_content
    msg_content = msg_content.replace("\n", " ")
    msg_content = re.sub(r'\s+',' ',msg_content)
    
    #Text in XML schreiben
    message_element.text = msg_content
    
    # Listen befÃ¼llen
    rows.append({"id":msg_id,
                 "date":msg_date,
                 "from":msg_from,
                 "reply_to":msg_reply,
                 "text":msg_content})

In [19]:
xmlstr = minidom.parseString(et.tostring(corpus)).toprettyxml(indent="  ")
with open("telegram.xml", "w") as xmlout:
    xmlout.write(xmlstr)

In [16]:
# DataFrame anlegen und als Excel (oder CSV) speichern 
df = pd.DataFrame(rows, columns=cols)
df.to_excel("telegram.xlsx")

,id,date,from,reply_to,text
0,696194,2023-04-01T00:05:31,ğŸ’£HorusğŸ’£,nA,Endlich ein 100er purmel ğŸ˜
1,696195,2023-04-01T00:07:13,Jenny ğŸ’ğŸ¦,696194,Aus welcher Region? ğŸ™ˆ
2,696196,2023-04-01T00:07:41,ğŸ’£HorusğŸ’£,nA,Leider Deutschland nicht regional ğŸ˜«
3,696197,2023-04-01T00:10:00,Wolf,nA,niantic sollte endlich mal alternative input d...
4,696198,2023-04-01T00:12:03,Engelboy1989,696194,gw
...,...,...,...,...,...
1966,698738,2023-04-20T07:19:27,ğŸ’£HorusğŸ’£,698735,Wenn man pokemon fÃ¤ngt ğŸ˜
1967,698739,2023-04-20T07:39:22,Vaka,nA,Bonbons ohne Ende aber kein Staub ğŸ˜¤
1968,698740,2023-04-20T07:47:07,Susa,698735,In dem man nicht alles pusht ğŸ˜‚
1969,698741,2023-04-20T07:51:14,ğŸ’£HorusğŸ’£,698740,Genau ğŸ˜
1970,698742,2023-04-20T08:02:39,Eltonno,698735,Das bisschen